:root {
    --background-color: #121212;
    --color: white;
    --highlight-color: #3d3d3d;
}

html {
    font-family: Open Sans, Arial, sans-serif;
}

h1 {
    font-weight: 300;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body.light-mode {
    --background-color: white;
    --color: #121212;
    --highlight-color: #dbdbdb;
}

.section {
    color: var(--color);
    flex: 1;
    margin: 1rem;
    padding: 3rem;
    width: 66%;
    border: 1px dotted var(--color);
    border-radius: 10px;
    text-decoration: none;
}

.section:hover {
    background-color: var(--highlight-color);
    cursor: pointer;
}

.toggle-button {
    color: var(--color);
    font-size: 1.4rem;
    position: fixed;
    top: 1rem;
    left: calc(100% - 2.8rem);
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 800px) {
    .content {
        flex: 1 1 100%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 315px) {
    html {
        font-size: 8px;
    }
}