:root {
    --background-color: #121212;
    --color: white;
    --element-background: #121212a8;
    --highlight-color: #3d3d3d62;
    --footer-color: #999;
}

html {
    font-family: Open Sans, Arial, sans-serif;
}

h1 {
    font-weight: 300;
}

body {
    background-color: var(--background-color);
    color: var(--color);
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 0.1s;
}

body.light-mode {
    background-image: none;
    --background-color: white;
    --element-background: #ffffff00;
    --color: #121212;
    --highlight-color: #dbdbdb;
}

.toggle-button {
    color: var(--color);
    font-size: 1.4rem;
    position: fixed;
    top: 1rem;
    left: calc(100% - 2.8rem);
    background: none;
    border: none;
    cursor: pointer;
}

.section {
    color: var(--color);
    background-color: var(--element-background);
    flex: 1;
    margin: 1rem;
    padding: 2rem;
    width: 33%;
    border-radius: 5px;
    text-decoration: none;
}

.section p {
    font-size: 0.8rem;
}

.section:hover {
    background-color: var(--highlight-color);
    cursor: pointer;
}

footer {
    padding: 1em;
    text-align: center;
    font-size: 1rem;
    color: #999;
}

@media (max-width: 800px) {
    .section {
        width: 66%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 420px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 315px) {
    html {
        font-size: 8px;
    }
}